# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfplan

# Crash log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SSH keys
*.pem
*.key
